@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
@import './layout.css';
@import './navbar.css';
@import './footer.css';
@import './form.css';
@import './buttons.css';


body {
  background-color: #f5f7fa;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
}

.is-active {
  color: #2563eb ;
  font-weight: 600;
}
